<div style="text-align: center;">
    <button mat-mini-fab color="primary" *ngFor="let pageNum of pageNums" (click)="getItems(pageNum)"
        class="page-num-btn">
        {{pageNum}}
    </button>
</div>

<div appInfinitLoop [isLoading]="isLoading" (endOfPageDetected)="loadMoreItems()">
    <app-item appHighlight [color]="'red'" *ngFor="let item of items" [item]="item" [isInCart]="isInCart(item)"
        (addToCart)="addToCart($event)" (removeFromCart)="removeFromCart($event)">
    </app-item>
</div>
<div *ngIf="isLoading" style="text-align: center">
    <mat-spinner></mat-spinner>
</div>