<!-- <mat-grid-list cols="3" rowHeight="300px"> -->
<div class="header">
    <mat-toolbar color="primary" class="app-toolbar">
        <mat-toolbar-row>
            <button mat-raised-button color="primary" (click)="goToLogin()">login</button>
            <button mat-raised-button color="primary" (click)="goToRegister()">register</button>
            <button mat-raised-button color="primary" (click)="goToFeed()">feed</button>
            <button mat-raised-button color="primary"
                (click)="goToProduct('5ca3fe3813eac50c64ac8144')">example-product</button>
            <button mat-raised-button color="primary" (click)="goToCart()">My Cart</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <h2>Hello {{GetUserEmail()}}</h2>
</div>

<router-outlet></router-outlet>
<!-- </mat-grid-list> -->