.app-toolbar {
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 99999;
}


.mat-toolbar-row, .mat-toolbar-single-row {
    display: block;
}

.header {
    text-align: center;
    margin-bottom: 15px;

    button {
        color: white;
        font-weight: bold;
        background-color: blueviolet;
    }

    h2 {
        background-color: #3f51b5;
        color: white;
        margin: 0;
        padding: 10px;
    }
}

.header button {
    margin-right: 80px;

}

.page-num-btn {
    padding: 10px;
    margin: 0 10px;
}